body {
    overflow-x: hidden;
}
h2 { 
    font-size: 1.5rem !important;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.login-button-container { 
    height: 90vh;
}
.login-button { 
    max-width: 400px;
    width: 100%;
    height: 60px;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    top: 40%;
    border-radius: 50px;
}
.login-button i{ 
    margin-right: 10px;
}
.btn-google {
    color: white  !important;
    background-color: #ea4335 !important;
}
  
.btn-facebook {
    color: white  !important;
    background-color: #3b5998  !important;
}
.card-login-form input { 
    text-align: center;
}
.card-login-form .is-focused input { 
    background-image: linear-gradient(to top, #00CBAA 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px)
}
.card-login-form input[type="submit"] {
    margin: auto;
} 
.btn-card-login{
    color: white  !important;
    background-color: #00CBAA  !important;
}
.mobile.nav-tabs-navigation { 
    display: none;
}
.menu-header { 
    background: linear-gradient(60deg,#1565c0, #0d47a1) !important;
}
ul.left { 
    float: left;
}
ul.right { 
    float: right;
    text-align: right;
}
.checkin_number{
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    padding: 0px 15px;
    background: linear-gradient(60deg,#1565c0, #0d47a1) !important;
    margin-left: 5px;
    font-size: 1rem;
    float: right;
    position: relative;
    top: 13px;
}
.card { 
    border: 1px solid #ddd;
}
.card .card-header h4{ 
    font-size: 1.08rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #6f6f6f;
}

.card h4.card-title{ 
    font-weight: 400;
}
.card h4.card-title .attendee_number{
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    padding: 0px 15px;
    background: linear-gradient(60deg,#1565c0, #0d47a1) !important;
    margin-left: 5px;
    font-size: 1rem;
}
.card a { 
    width: 100%;
}
.btn.btn-primary.application, .btn.btn-primary.application:active, 
.btn.btn-primary.application:hover, .btn.btn-primary.application:focus, 
.btn.btn-primary.application:active:focus{ 
    width: 100%;
    background: linear-gradient(60deg,#1565c0, #0d47a1) !important;
    border-color: #0d47a1 !important;
    box-shadow: 0 2px 2px 0 #0d47a11f, 0 3px 1px -2px #0d47a11f, 0 1px 5px 0 #0d47a11f !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    padding: 12px;
}

.btn.application:focus, .btn.application:active, .btn.application:hover { 
    box-shadow: 0 14px 26px -12px #0d47a11f, 0 4px 23px 0px #0d47a11f, 0 8px 10px -5px #0d47a11f !important;
}

.btn.btn-secondary.application, .btn.btn-secondary.application:active, 
.btn.btn-secondary.application:hover, .btn.btn-secondary.application:focus, 
.btn.btn-secondary.application:active:focus{ 
    width: 100%;
    background: linear-gradient(60deg,#1565c0, #0d47a1) !important;
    border-color: #0d47a1 !important;
    box-shadow: 0 2px 2px 0 #0d47a11f, 0 3px 1px -2px #0d47a11f, 0 1px 5px 0 #0d47a11f !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    padding: 12px;
}

.btn.btn-danger.application, .btn.btn-danger.application:active, 
.btn.btn-danger.application:hover, .btn.btn-danger.application:focus, 
.btn.btn-danger.application:active:focus{ 
    width: 100%;
    box-shadow: 0 2px 2px 0 #0d47a11f, 0 3px 1px -2px #0d47a11f, 0 1px 5px 0 #0d47a11f !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    padding: 12px;
}


.modal-dialog .card { 
    margin-top: 50px;
}
.modal-dialog { 
    pointer-events: all !important;
}
.attendee .attendee_image { 
    border-radius: 50px;
    margin: 0px 10px;
}
h4.attendee { 
    text-align: left !important;
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px !important;
}
h4.attendee:hover {
    background: #eee;   
}
.modal .card-body { 
    padding: 15px 20px !important;
}
.modal .card-footer { 
    border-top: 0px !important;

}
#profile h2 { 
    padding: 30px;
}
/* COLORS */
.card .color-1 { 
    background: linear-gradient(60deg, #66bb6a, #43a047);
}
.card .color-2 { 
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.card .color-3 { 
    background: linear-gradient(60deg, #ec407a, #d81b60);
}
.card .color-4 { 
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
}
.card .color-5 { 
    background: linear-gradient(60deg, #7e57c2, #5e35b1);
}
.card .color-6 { 
    background: linear-gradient(60deg, #5c6bc0, #3949ab);
}
.card .color-7 { 
    background: linear-gradient(60deg, #42a5f5, #1e88e5);
}
.card .color-8 { 
    background: linear-gradient(60deg, #29b6f6, #039be5);
}
.card .color-9 { 
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
.card .color-10 { 
    background: linear-gradient(60deg, #26a69a, #00897b);
}
.card .color-11 { 
    background: linear-gradient(60deg, #9ccc65, #7cb342);
}
.card .color-12 { 
    background: linear-gradient(60deg, #d4e157, #c0ca33);
}
.card .color-13 { 
    background: linear-gradient(60deg, #ffee58, #fdd835);
}
.card .color-14 { 
    background: linear-gradient(60deg, #ffca28, #ffb300);
}
.card .color-15 { 
    background: linear-gradient(60deg, #ff7043, #f4511e);
}
.card .color-16 { 
    background: linear-gradient(60deg, #8d6e63, #6d4c41);
}
.card .color-17 { 
    background: linear-gradient(60deg, #bdbdbd, #757575);
}
.card .color-18 { 
    background: linear-gradient(60deg, #78909c, #546e7a);
}
.card .color-19 { 
    background: linear-gradient(60deg, #424242, #212121);
}

.footer { 
    position: relative;
    width: 100%;
    bottom: 0px;
}

/** PROFILE **/

#profile .card-body { 
    text-align: center;
}
#profile .card-body img{ 
    max-width: 100%;
} 
#MaxEditingForm .card-body, 
#MaxEditingForm h4{ 
    text-align: left !important;
}
#MaxEditingForm .card-body { 
    padding: 20px;
}
/** MAX TABLE **/

#max-table { 
    overflow-x: auto;
}
#max-table   thead tr:nth-child(1) th{
    position: sticky;
    top: 0;
    z-index: 10; 
    font-weight: 500;

}


@media only screen and (max-width: 900px) {
    .desktop.nav-tabs-navigation { 
        display: none;
    }
    .mobile.nav-tabs-navigation { 
        display: block;
    }
    .mobile.nav-tabs-navigation .nav-item{ 
        width: 100%;
    }
    .mobile.nav-tabs-navigation a{ 
        color: #fff;
        display: block;
        padding: 10px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .mobile.nav-tabs-navigation a:hover{ 
        background: transparent;
        box-shadow: none;
    }
    .dropdown-menu {
        transition: 1s;
    }
  }