.page-breadcrumb { 
    padding: 0px 2rem;
}
.checkin-profile-picture { 
    width: 500px;
    height: auto;
}
.product-img-2 { 
    float: left;
    width: 70px !important;
    height: 70px !important;
}
.product_img_thumb { 
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 5px;

}

.user_name_link { 
    display: block;
    padding: 7% 5px;
    float: left;
}
.navbar-nav li.nav-item:last-child {
    position: absolute;
    right: 0;
  }
.mobile-menu-close { 
  display: none;  
}
  @media only screen and (min-width: 600px) {
    .topbar {
      display: none !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .navbar-nav li.nav-item:last-child { 
        position: relative;
    }
    .navbar-nav { 
      margin-top: 30px;
    }
    .mobile-menu-close { 
      display: block !important;
      position: absolute;
      right: 5px;
      font-size: 25px !important;
      z-index: 9999;
    }
  }
